@model InocuReports.Models.Clinica

@{
    ViewBag.Title = "Paso2";
}

<h1>Paso 2 </h1>
<h3>Solicitud de Registro: @Session["Codigo_registro"]</h3>
<h4>Medico: @Session["Nombre_medico"]</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Registro de la Clínica</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Cedula_juridica, "Cédula Jurídica", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cedula_juridica, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cedula_juridica, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Pais, "País", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pais, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pais, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado_provincia, "Estado / Provincia", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Estado_provincia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Estado_provincia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Distrito, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Distrito, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Distrito, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefono, "Teléfono", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sitio_web, "Sitio web", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sitio_web, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sitio_web, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Saltar" class="btn btn-info" onclick="Saltar_clinica(); return false;" />
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>


    </div>
}

<div>
    @Html.ActionLink("Regresar al Inicio", "Paso1")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#Cedula_juridica").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/api/clinica",
                        type: "GET",
                        dataType: "json",
                        data: { cedula: request.term },
                        success: function (data) {

                            document.getElementById('Nombre').value = data.Nombre;
                            document.getElementById('Pais').value = data.Pais;
                            document.getElementById('Estado_provincia').value = data.Estado_provincia;
                            document.getElementById('Distrito').value = data.Distrito;
                            document.getElementById('Telefono').value = data.Telefono;
                            document.getElementById('Email').value = data.Email;
                            document.getElementById('Sitio_web').value = data.Sitio_web;
                            $(function () {
                                $.post('/App/SetSession',
                                    { key: "Nombre_clinica", value: data.Nombre });
                            });
                            $(function () {
                                $.post('/App/SetSession',
                                    { key: "Id_clinica", value: data.Id });
                            });

                        },
                        error: function (event) {

                        }
                    })
                },
                messages: {
                    noResults: '',
                    results: function (resultsCount) { }
                }
            });

        })

        function Saltar_clinica() {
            $(function () {
                $.post('/App/SetSession',
                    { key: "Nombre_clinica", value: "Domicilio/Oficina" });
            });
            $(function () {
                $.post('/App/SetSession',
                    { key: "Id_clinica", value: 1 });
            });
            window.location = "/App/Paso3";
        }
    </script>
}
