@model InocuReports.Models.Reporte

@{
    ViewBag.Title = "Paso5";
}

<h1>Paso 5 </h1>
<h2>Solicitud de Registro: @Session["Codigo_registro"]</h2>
<h3>Paciente: @Session["Nombre_paciente"]</h3>
<h4>Medico: @Session["Nombre_medico"]</h4>
<h4>Clinica: @Session["Nombre_clinica"]</h4>
<h4>Inyeccion: @Session["Nombre_inyeccion"]</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Efectos adversos</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @using (Ajax.BeginForm("GuardarCuestionarioP4", "Paso4",
                            new AjaxOptions { UpdateTargetId = "divCuestionario" }))
        {
            <hr />
            <h2>Cuestionario</h2>
            <div id="divCuestionario"></div>
            <div class="form-group">
                <ol>
                    <li>
                        <label>@Session["EfecPreg1"].ToString()</label><br />
                        @Html.ListBox("rsp_1", new List<SelectListItem>{
                            new SelectListItem{ Text="Seleccione", Value = "NR" },
                            new SelectListItem{ Text="Medicamentos", Value = "Medicamentos" },
                            new SelectListItem{ Text="Polietilenglicol", Value = "Polietilenglicol" },
                            new SelectListItem{ Text="Alimentos", Value = "Alimentos" },
                            new SelectListItem{ Text="Medio ambiente", Value = "Medio ambiente" },
                            new SelectListItem{ Text="Otros", Value = "Otros" },
                        }, new { @class = "listbox" })
                    </li>
                    <li>
                        <label>@Session["EfecPreg2"].ToString()</label><br />
                        @Html.TextArea("rsp_2")
                    </li>
                    <li>
                        <label>@Session["EfecPreg3"].ToString()</label><br />
                        @Html.DropDownList("rsp_3", new List<MultiSelectList>
                        {
                        new SelectListItem{ Text="Seleccione", Value = "NR" },
                        new SelectListItem{ Text="Medicamentos", Value = "Medicamentos" },
                        new SelectListItem{ Text="Polietilenglicol", Value = "Polietilenglicol" },
                        new SelectListItem{ Text="Alimentos", Value = "Alimentos" },
                        new SelectListItem{ Text="Medio ambiente", Value = "Medio ambiente" },
                        new SelectListItem{ Text="Otros", Value = "Otros" },
                        })
                    </li>

                    <li>
                        <label>@Session["EfecPreg4"].ToString()</label><br />
                        @Html.TextArea("rsp_4")
                    </li>

                    <li>
                        <label>@Session["EfecPreg5"].ToString()</label><br />
                        @Html.DropDownList("rsp_5", new List<SelectListItem>
                            {
                            new SelectListItem{ Text="Seleccione", Value = "NR" },
                            new SelectListItem{ Text="Si", Value = "Si" },
                            new SelectListItem{ Text="No", Value = "No" }
                        })
                    </li>

                    <li>
                        <label>@Session["EfecPreg6"].ToString()</label><br />
                        @Html.TextArea("rsp_6")
                    </li>

                    <li>
                        <label>@Session["EfecPreg7"].ToString()</label><br />
                        @Html.TextArea("rsp_7")
                    </li>

                    <li>
                        <label>@Session["EfecPreg8"].ToString()</label><br />
                        @Html.TextArea("rsp_8")
                    </li>

                </ol>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('.listbox').multiselect({
                includeSelectAllOption: true
            });
        });
    </script>
}
