@model InocuReports.Models.Reporte

@{
    ViewBag.Title = "Paso5";
}

<h1>Paso 5 </h1>
<h2>Solicitud de Registro: @Session["Codigo_registro"]</h2>
<h3>Paciente: @Session["Nombre_paciente"]</h3>
<h4>Medico: @Session["Nombre_medico"]</h4>
<h4>Clinica: @Session["Nombre_clinica"]</h4>
<h4>Inyeccion: @Session["Nombre_inyeccion"]</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Efectos adversos</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @using (Ajax.BeginForm("GuardarCuestionarioP4", "Paso4",
                            new AjaxOptions { UpdateTargetId = "divCuestionario" }))
        {
            <hr />
            <h2>Cuestionario</h2>

            <div id="divCuestionario"></div>
            <div class="form-group">
                <ol>
                    <li>
                        <label>@Session["EfecPreg1"].ToString()</label><br />
                        @Html.DropDownListFor(model => model.Resp_opts_1, new SelectList(Model.Opts_1, "text", "text"), new { @multiple = "multiple", @placeholder = "Seleccione" })
                    </li>
                    <li>
                        <label>@Session["EfecPreg2"].ToString()</label><br />
                        @Html.TextArea("rsp_2")
                    </li>
                    <li>
                        <label>@Session["EfecPreg3"].ToString()</label><br />
                        @Html.DropDownListFor(model => model.Resp_opts_3, new SelectList(Model.Opts_3, "text", "text"), new { @multiple = "multiple", @placeholder = "Seleccione" })
                    </li>

                    <li>
                        <label>@Session["EfecPreg4"].ToString()</label><br />
                        @Html.TextArea("rsp_4")
                    </li>

                    <li>
                        <label>@Session["EfecPreg5"].ToString()</label><br />
                        @Html.DropDownListFor(model => model.Resp_opts_5, new SelectList(Model.Opts_5, "text", "text"), new { @multiple = "multiple", @placeholder = "Seleccione" })
                    </li>

                    <li>
                        <label>@Session["EfecPreg6"].ToString()</label><br />
                        @Html.TextArea("rsp_6")
                    </li>

                    <li>
                        <label>@Session["EfecPreg7"].ToString()</label><br />
                        @Html.TextArea("rsp_7")
                    </li>

                    <li>
                        <label>@Session["EfecPreg8"].ToString()</label><br />
                        @Html.ListBoxFor(model => model.Resp_opts_8, new SelectList(Model.Opts_8, "text", "text"), new { @multiple = "multiple", @placeholder = "Seleccione" })
                    </li>

                </ol>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.sumoselect/3.0.2/sumoselect.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sumoselect/3.0.2/jquery.sumoselect.min.js"></script>

    <script>
        $(function () {
            $('#Resp_opts_1').SumoSelect({ clearAll: true });
            $('#Resp_opts_3').SumoSelect({ clearAll: true });
            $('#Resp_opts_5').SumoSelect({ clearAll: true });
            $('#Resp_opts_8').SumoSelect({ clearAll: true });
        })
    </script>
}
<style>
    .SumoSelect {
        width: 560px !important;
    }
</style>